*{margin: 0 auto;}
@font-face {font-family: dancingscript;src: url("../fonts/DancingScript-Regular.otf");}
@font-face {font-family: segeo;src: url("../fonts/segeo.ttf");}
.dancingscript{font-family: dancingscript;}
.segeo{font-family: segeo;}
.erasoft-green{color:#538240;}
.erasoft-red{color:#9C3324;}
.erasoft-white{color:#FFFFFF;}
.font18{font-size: 18px;}
.font16{font-size: 16px;}
.font14{font-size: 14px;}

body
{
    background-image: url("../images/products.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.navbar
{
    position: fixed;
    min-height: 70px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background: #538240;
    -webkit-box-shadow: -1px 6px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 5px -3px rgba(0,0,0,0.75);
}


.navbar-brand
{
    color:#FFF !important;
    float: left;
    height: 68px;
    padding: 35px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    width: auto;
}


@media(max-width : 370px) {
    .navbar-brand
    {
        font-size: 16px;
    }
}

@media(max-width : 349px) {
    .navbar-brand
    {
        font-size: 13px;
    }
}


.navbar-default .navbar-nav a
{
    color: #FFF !important;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.navbar-default .navbar-nav a:hover
{
    color: #FFF !important;
    background-color:#9C3324 !important;
}

.navbar-brand p {
    margin-top: -20px;
    margin-left: 40px;
}

.navbar-brand p small
{
    font-size: 12px !important;
}


.navbar-nav > li > a {
    height: 70px;
    width: auto;
    text-align: center;
    line-height: 7px;
    padding-top: 35px;
    padding-bottom: 15px;
}


.navbar-nav > li > a:hover
{
    background-color: red;
}


@media (max-width: 600px) {
    .navbar-nav > li > a:hover
    {
        width: 100%;
    }

}

.navbar-toggle {
    margin-top: 16px;
}



.section
{
    padding-top: 80px;
}

.slider-container
{
    padding-top: 82px;
}


.section-title h1
{
    font-family: dancingscript;
}


.line-dividers
{
    height: auto;
    color: #C0C0C0 ;
    padding-bottom: 10px;
}

.horizontal-bar
{
    border-bottom: 1px solid #C0C0C0 ;
    padding: 9px 0px;
}

.small-horizontal-bar
{
    border-bottom: 1px solid #C0C0C0 ;
    padding: 13px 0px;
    display: none;
}

.center-icon
{
    font-size: 3em;
}

@media (max-width: 600px) {
    .horizontal-bar {
        display: none;
    }

    .center-icon
    {
        text-align: center;
        width: 100%;
    }
    .small-horizontal-bar
    {
        display: block;
        padding: 16px 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}



/*services*/

.service-image
{
    width:150px;
    height: 150px;
}

.service-description
{
    margin-top: -30px;
}

.service-description btn
{
    width: 100%;
}

.services-columns{
    margin-top: 20px !important;
}


/*services*/



/*Carousel*/
.list-item {
    overflow: hidden;
    margin: 0 15px;
}

.list-item .list-thumb {
    overflow: hidden;
}

.list-item .list-thumb .title {
    background-color: #538240;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    display: none;
}

.list-item .list-thumb .title h4 {
    color: #fff;
    line-height: 50px;
}

.list-item .list-thumb img {
    width: 100%;
}

.list-item .list-content h5 {
    color: #538240;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 5px 0;
}

.list-item .list-content span {
    color: #9C3324;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.list-item .list-content a.price-btn {
    display: block;
    background-color: #286090;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}

.list-item .list-content a.price-btn:hover {
    background-color: #122b40;
    text-decoration: none;
}

.owl-next,.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-color: #538240;
    color: #fff;
    text-align: center;
    line-height: 40px;
    visibility: hidden;
}

.owl-next {
    right: -40px;
}

@media screen and (min-width: 240px) {
    .owl-next {
        right: 15px;
    }
}

@media screen and (min-width: 960px) {
    .owl-next {
        right: 13px;
    }
}

@media screen and (min-width: 992px) {
    .owl-next {
        right: -40;
    }
}

.owl-prev {
    left: -40px;
}

@media screen and (min-width: 240px) {
    .owl-prev {
        left: 15px;
    }
}

@media screen and (min-width: 960px) {
    .owl-prev {
        left: 15px;
    }
}

@media screen and (min-width: 992px) {
    .owl-prev {
        left: -40;
    }
}





/*footer*/
.footer
{
    background-color: #538240;
}

address
{
    padding: 20px;
}

address a
{
    color: #FFF;
    text-decoration: none;
}

address a:hover
{
    color:#FFF;
    cursor: pointer;
}


.copyrights
{
    height: auto;
}

.copyrights p
{
    display: block;
    vertical-align: middle;
    padding: 5px;
    margin-top: 5px;
    color:#9C3324;
}



.modal-content{
    padding: 30px;
}

.modal-content h3
{
    padding: 0px;
}

.modal-content p
{
    margin-right: 10px;
}


.modal-title
{
    font-family: dancingscript;
    font-size: 35px;
}

.media-body
{
    text-align: justify;
}


@media (max-width: 320px) {
    .media-left
    {
        display: none;
    }
}


.backtotop{
    position: fixed;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    color:#FFF;
    background:#538240;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    z-index: 1000;
}

#aboutera
{
    /*background-image: url("../images/about.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block-line
{
    height: 3px;
    background: #9C3324;
}